<div class="sense">
  <!-- <h1>Overwatch Sense Calculator</h1> -->
  <div class="row">
    <input type="number" readonly> <input type="text" name='beginning'> <input type="number" readonly> <input type="radio" name="rowOne"><input type="radio" name="rowOne">
  </div>
  <div class="row">
    <input type="number" readonly> <input type="number" readonly > <input type="number" readonly> <input type="radio" name="rowOne"><input type="radio" name="rowOne">
  </div>
  <div class="row">
    <input type="number" readonly> <input type="number" readonly > <input type="number" readonly> <input type="radio" name="rowOne"><input type="radio" name="rowOne">
  </div>
  <div class="row">
    <input type="number" readonly> <input type="number" readonly > <input type="number" readonly> <input type="radio" name="rowOne"><input type="radio" name="rowOne">
  </div>
  <div class="row">
    <input type="number" readonly> <input type="number" readonly > <input type="number" readonly> <input type="radio" name="rowOne"><input type="radio" name="rowOne">
  </div>
  <div class="row">
    <input type="number" readonly> <input type="number" readonly > <input type="number" readonly> <input type="radio" name="rowOne"><input type="radio" name="rowOne">
  </div>
  <div class="row">
    <input type="number" readonly> <input type="number" readonly > <input type="number" readonly> <input type="radio" name="rowOne"><input type="radio" name="rowOne">
  </div>
</div>
