<div class="sense">
  <div class="logo-container">
    <img src="../assets/images/ow.png" alt="" class='logo'>
  </div>
  <h1>PC Sense Calculator</h1>

  <div class="row">
    <input type="number" [(ngModel)]="start" (ngModelChange)='calculateStart(start)' placeholder="Enter Starting Sense">
  </div>

  <div class="row" *ngIf="start">
    <table>
      <thead>
        <th>Low</th>
        <th>Reference</th>
        <th>High</th>
        <th> </th>
        <th> </th>
      </thead>
      <tbody>
        <tr class='start'>
          <td>{{startLow}}</td>
          <td>{{start}}</td>
          <td>{{startHigh}}</td>
          <td class='optionOne' (click)='rowOne("low", $event)' >Low</td>
          <td class='optionOne' (click)='rowOne("high", $event)'>High</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row" *ngIf="two">
    <table>
      <thead>
        <th>Low</th>
        <th>Reference</th>
        <th>High</th>
        <th> </th>
        <th> </th>
      </thead>
      <tbody>
        <tr>
          <td>{{twoLow}}</td>
          <td>{{two}}</td>
          <td>{{twoHigh}}</td>
          <td (click)='rowTwoLow()'>Low</td>
          <td (click)='rowTwoHigh()'>High</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- <div class="row" *ngIf='two'>
    <input type="number" readonly [value]='two*0.5'>
    <input type="number" readonly [(ngModel)]='two'>
    <input type="number" readonly [value]='two*1.5'>
    <input type="radio" name="rowTwo" (click)='rowTwoLow()'>
    <input type="radio" name="rowTwo" (click)='rowTwoHigh()'>
  </div> -->
  <div class="row" *ngIf='three'>
    <input type="number" readonly [value]='three*0.6'>
    <input type="number" readonly [(ngModel)]='three'>
    <input type="number" readonly [value]='three*1.4'>
    <input type="radio" name="rowThree" (click)='rowThreeLow()'>
    <input type="radio" name="rowThree" (click)='rowThreeHigh()'>
  </div>
  <div class="row" *ngIf='four'>
    <input type="number" readonly [value]='four*0.7'>
    <input type="number" readonly [(ngModel)]='four'>
    <input type="number" readonly [value]='four*1.3'>
    <input type="radio" name="rowFour" (click)='rowFourLow()'>
    <input type="radio" name="rowFour" (click)='rowFourHigh()'>
  </div>
  <div class="row" *ngIf='five'>
    <input type="number" readonly [value]='five*0.8'>
    <input type="number" readonly [(ngModel)]='five'>
    <input type="number" readonly [value]='five*1.2'>
    <input type="radio" name="rowFive" (click)='rowFiveLow()'>
    <input type="radio" name="rowFive" (click)='rowFiveHigh()'>
  </div>
  <div class="row" *ngIf='six'>
    <input type="number" readonly [value]='six*0.9'>
    <input type="number" readonly [(ngModel)]='six'>
    <input type="number" readonly [value]='six*1.1'>
    <input type="radio" name="rowSix" (click)='rowSixLow()'>
    <input type="radio" name="rowSix" (click)='rowSixHigh()'>
  </div>
  <div class="row" *ngIf='seven'>
    <input type="number" readonly [value]='seven*0.95'>
    <input type="number" readonly [(ngModel)]='seven'>
    <input type="number" readonly [value]='seven*1.05'>
    <input type="radio" name="rowSeven" (click)='rowSevenLow()'>
    <input type="radio" name="rowSeven" (click)='rowSevenHigh()'>
  </div>
  <h1 *ngIf='final' >Final : {{final}}</h1>
</div>
<h2>How Does It Work?</h2>
