<div class="sense">
  <div class="logo-container">
    <a href="/"><img src="../assets/images/ow.png" alt="" class='logo'></a>
  </div>
  <h1>PC Sense Calculator</h1>

  <div class="row">
    <input type="number" [(ngModel)]="start" (ngModelChange)='calculateStart(start)' placeholder="Enter Starting Sense">
  </div>

  <div class="row" *ngIf="start">
    <table>
      <thead>
        <th>Low</th>
        <th>Reference</th>
        <th>High</th>
        <th> </th>
        <th> </th>
      </thead>
      <tbody>
        <tr>
          <td [ngStyle]='{"color": startLowBool ? "#FAA02E" : "black"}'>{{startLow}}</td>
          <td>{{start}}</td>
          <td [ngStyle]='{"color": startHighBool ? "#FAA02E" : "black"}'>{{startHigh}}</td>
          <td (click)='rowOne("low")' [ngStyle]='{"text-decoration": startLowBool ? "underline" : "none"}' class='option'>Low</td>
          <td (click)='rowOne("high")' [ngStyle]='{"text-decoration": startHighBool ? "underline" : "none"}' class='option'>High</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row" *ngIf="two">
    <table>
      <thead>
        <th>Low</th>
        <th>Reference</th>
        <th>High</th>
        <th> </th>
        <th> </th>
      </thead>
      <tbody>
        <tr>
          <td [ngStyle]='{"color": twoLowBool ? "#FAA02E" : "black"}'>{{twoLow}}</td>
          <td>{{two}}</td>
          <td [ngStyle]='{"color": twoHighBool ? "#FAA02E" : "black"}'>{{twoHigh}}</td>
          <td (click)='rowTwo("low")' [ngStyle]='{"text-decoration": twoLowBool ? "underline" : "none"}' class='option'>Low</td>
          <td (click)='rowTwo("high")' [ngStyle]='{"text-decoration": twoHighBool ? "underline" : "none"}' class='option'>High</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row" *ngIf="three">
    <table>
      <thead>
        <th>Low</th>
        <th>Reference</th>
        <th>High</th>
        <th> </th>
        <th> </th>
      </thead>
      <tbody>
        <tr>
          <td [ngStyle]='{"color": threeLowBool ? "#FAA02E" : "black"}'>{{threeLow}}</td>
          <td>{{three}}</td>
          <td [ngStyle]='{"color": threeHighBool ? "#FAA02E" : "black"}'>{{threeHigh}}</td>
          <td (click)='rowThree("low")' [ngStyle]='{"text-decoration": threeLowBool ? "underline" : "none"}' class='option'>Low</td>
          <td (click)='rowThree("high")' [ngStyle]='{"text-decoration": threeHighBool ? "underline" : "none"}' class='option'>High</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row" *ngIf="four">
    <table>
      <thead>
        <th>Low</th>
        <th>Reference</th>
        <th>High</th>
        <th> </th>
        <th> </th>
      </thead>
      <tbody>
        <tr>
          <td [ngStyle]='{"color": fourLowBool ? "#FAA02E" : "black"}'>{{fourLow}}</td>
          <td>{{four}}</td>
          <td [ngStyle]='{"color": fourHighBool ? "#FAA02E" : "black"}'>{{fourHigh}}</td>
          <td (click)='rowFour("low")' [ngStyle]='{"text-decoration": fourLowBool ? "underline" : "none"}' class='option'>Low</td>
          <td (click)='rowFour("high")' [ngStyle]='{"text-decoration": fourHighBool ? "underline" : "none"}' class='option'>High</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row" *ngIf="five">
    <table>
      <thead>
        <th>Low</th>
        <th>Reference</th>
        <th>High</th>
        <th> </th>
        <th> </th>
      </thead>
      <tbody>
        <tr>
          <td [ngStyle]='{"color": fiveLowBool ? "#FAA02E" : "black"}'>{{fiveLow}}</td>
          <td>{{five}}</td>
          <td [ngStyle]='{"color": fiveHighBool ? "#FAA02E" : "black"}'>{{fiveHigh}}</td>
          <td (click)='rowFive("low")' [ngStyle]='{"text-decoration": fiveLowBool ? "underline" : "none"}' class='option'>Low</td>
          <td (click)='rowFive("high")' [ngStyle]='{"text-decoration": fiveHighBool ? "underline" : "none"}' class='option'>High</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row" *ngIf="six">
    <table>
      <thead>
        <th>Low</th>
        <th>Reference</th>
        <th>High</th>
        <th> </th>
        <th> </th>
      </thead>
      <tbody>
        <tr>
          <td [ngStyle]='{"color": sixLowBool ? "#FAA02E" : "black"}'>{{sixLow}}</td>
          <td>{{six}}</td>
          <td [ngStyle]='{"color": sixHighBool ? "#FAA02E" : "black"}'>{{sixHigh}}</td>
          <td (click)='rowSix("low")' [ngStyle]='{"text-decoration": sixLowBool ? "underline" : "none"}' class='option'>Low</td>
          <td (click)='rowSix("high")' [ngStyle]='{"text-decoration": sixHighBool ? "underline" : "none"}' class='option'>High</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row" *ngIf="seven">
    <table>
      <thead>
        <th>Low</th>
        <th>Reference</th>
        <th>High</th>
        <th> </th>
        <th> </th>
      </thead>
      <tbody>
        <tr>
          <td [ngStyle]='{"color": sevenLowBool ? "#FAA02E" : "black"}'>{{sevenLow}}</td>
          <td>{{seven}}</td>
          <td [ngStyle]='{"color": sevenHighBool ? "#FAA02E" : "black"}'>{{sevenHigh}}</td>
          <td (click)='rowSeven("low")' [ngStyle]='{"text-decoration": sevenLowBool ? "underline" : "none"}' class='option'>Low</td>
          <td (click)='rowSeven("high")' [ngStyle]='{"text-decoration": sevenHighBool ? "underline" : "none"}' class='option'>High</td>
        </tr>
      </tbody>
    </table>
  </div>

  <h1 *ngIf='final' >Final : {{final}}</h1>
</div>
<h2>How Does It Work?</h2>


<div class="modal">
  <h1>How to Use Guide</h1>
  <p>This tool is based off of <a href="https://www.youtube.com/watch?v=GRFWLJazYYo">ioStux's "Finding your PERFECT Sensitivity" video</a>. It uses the PSA Method to find a sensitivty that requires less warming up and that is suited specifically for you. <sup><a href="https://www.youtube.com/watch?v=GRFWLJazYYo">[1]</a></sup></p>
  <br>
  <p>First, you need to find your starting or base sensitivity. To do this, you go in-game play with your sensitivity to find out what sensitivity is needed to complete one 360 degree using one full swipe from one edge of the mousepad to the other. </p>
  <p>Once that is entered, you will get three numbers a low, reference, and high sensitivity.</p>
</div>
